@{
    ViewData["Title"] = "Home Page";
    int count = (ViewBag.count == null) ? 0 : ViewBag.count;
}

<div class="text-center">
    <h1 class="display-4">Welcome~~~~~~~~~~~~~</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button id="myButton">Click Me</button>
    <h1 id="result">@count</h1>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myButton").click(function () {
            $.ajax({
                url: '@Url.Action("IndexPost", "Home")', // 替换为实际的 Action 和 Controller 名称
                type: 'GET',
                success: function (data) {
                    $("#result").text(data); // 将返回值显示在 <h1> 标签中
                },
                error: function () {
                    $("#result").text("Error occurred.");
                }
            });
        });
    });
</script>



