@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<html>
<head>
    <meta charset="utf-8" />
    <title>Real-Time Chat with SignalR</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>
</head>
<body>
    <div>
        <input type="text" id="username" placeholder="Enter your username" />
        <input type="text" id="message" placeholder="Enter your message" />
        <button id="sendButton">Send</button>
    </div>
    <div id="chatBox"></div>
    <script>
        //設定連線資訊，連到某個hub (可以有好幾個hub)
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //設定接收訊息事件ReceiveMessage (SignalR回呼函式)
        connection.on("ReceiveMessage", function (user, message) {
            var encodedUser = $("<div />").text(user).html();
            var encodedMsg = $("<div />").text(message).html();
            $("#chatBox").append("<p><strong>" + encodedUser + "</strong>: " + encodedMsg + "</p>");
        });

        //設定按下按鈕事件，client段呼叫server端的SendMessage方法
        $("#sendButton").click(function () {
            var user = $("#username").val();
            var message = $("#message").val();
            connection.invoke("SendMessage", user, message);
            $("#message").val("").focus();
        });

        //開始連線
        connection.start().then(function () {
            console.log("Connected!");
        }).catch(function (err) {
            console.error(err.toString());
        });
    </script>
</body>
</html>